:root {
  --primary: #6c5ce7;
  --primary-rgb: 108, 92, 231;
  --secondary: #0984e3;
  --secondary-rgb: 9, 132, 227;
  --success: #00b894;
  --success-rgb: 0, 184, 148;
  --warning: #fdcb6e;
  --warning-rgb: 253, 203, 110;
  --danger: #d63031;
  --danger-rgb: 215, 48, 49;
}